## .NET
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates
[Dd]ebug/
[Rr]elease/
x64/
x86/
bld/
[Ll]og/
[Ll]ogs/

# Visual Studio
.vs/
*.rsuser
*.sln.docstates

# Rider
.idea/

# Build results
[Dd]ebug/
[Rr]elease/
publish/

# NuGet
**/packages/*
*.nupkg
**/[Pp]ackages/build/
project.lock.json
project.fragment.lock.json
artifacts/

# Test results
TestResults/
*.trx
screenshots/

# OS
.DS_Store
Thumbs.db
desktop.ini
